[submodule "PX4/Firmware"]
	path = PX4/Firmware
	url = git@github.com:akarshgopal/Firmware.git

[submodule "Ardupilot/ardupilot"]
	path = Ardupilot/ardupilot
	url = git@github.com/ArduPilot/ardupilot.git